/* 日本語Webフォント（同梱・オフライン利用可、SIL Open Font License）*/

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/noto-sans-jp-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/noto-sans-jp-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/noto-serif-jp-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/noto-serif-jp-700.woff2') format('woff2');
}

@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/mplus-rounded-1c-400.woff2') format('woff2');
}
@font-face {
  font-family: 'M PLUS Rounded 1c';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/mplus-rounded-1c-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Yusei Magic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/yusei-magic-400.woff2') format('woff2');
}
